*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



#container{
    height: 500px;
    width: 500px;
    background-color: beige;
    
    
}

div{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    margin: 10px;
}

@media (max-width:1000px){
    #container{
        display: flex;
    }
    div{
        background-color: chocolate;
    }
}

@media (min-width: 600px) and (max-width: 900px){
    #container{
        display: flex;
        flex-direction: row-reverse;
    }
    div{
        background-color:crimson;
    }
}

@media (min-width: 0px) and (max-width: 600px){
    #container{
        display: flex;
        flex-direction: column-reverse;
    }
    div{
        background-color:red;
    }
}