#head{
    border: 2px solid black;
    height: 50px;
    width: 150px;
    text-align: center;
    background-color: navy;
    color: azure;
    padding: 10px 0px 0px 0px;
    margin: 10px;
}

#para{
    padding: 50px;
    margin: 50px;
    background-color: blueviolet;
    border: 2px dotted black;
}

#box{
    height: 100px;
    width: 200px;
    background-color: brown;
    text-align: right;
}