#heading{
    text-align: center;
}

#para{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif,sans-serif;
    font-size: 25px;
}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}